name: Keep Alive

on:
  schedule:
    - cron: '*/14 * * * *'  # 14分ごとに実行

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render
        run: curl -s -o /dev/null -w "%{http_code}" https://music-app-6a76.onrender.com
